<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlataformaDeGestionDeCombustibles">
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FuelDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PriceValidationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FuelHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FuelOutletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PriceCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PriceRulesActivity"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="ManifestOrder" />
</manifest>